.cv-contenair{
display: grid;
grid-template-rows: 1fr 2fr;
grid-template-areas: "head content";
}

.cv-head{
display: grid;
background-color: rgb(47,45,48);
color:antiquewhite;
grid-template-columns: 1fr 2fr;
grid-template-areas: "head left head-right";  
}

.head-right{
display: grid;
padding: 10px;
padding-left: 25px;
}

.cv-content{
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-areas: "left-part right-part";
}

.left-part{
grid-area: left-part;
padding: 25px;
background-color: rgb(5,53,101);
color:antiquewhite
}

.right-part{
grid-area: right-part;
padding: 25px;
background-color: rgb(7,76,141);
color:antiquewhite
}

.title{
font-family: fantasy;
color: rgb(255, 250, 250);
font-weight: bold;
font-style: italic;
}

.underligne{
text-decoration: underline;  
}

#pdf-logo{
height: 24px;
width: 24px;
}

.skills-logo{
height: 48px;
width: 48px;
}