.body {
    background-color: rgb(100, 100, 100);
}

.grid-container {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100%;
 }

 #picture {
    background-color: #000000; 
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 1;
    grid-column-end: 2;
    border-top: solid rgb(205, 35, 35);
    border-left: solid rgb(205, 35, 35);
    border-top-left-radius: 40px;
    text-align: center;
       
 }

 #profil {
    background-color: #ffffff; 
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-column-end: 5;
    border-top: solid rgb(205, 35, 35);
    border-right: solid black;
    border-top-right-radius: 40px;
    padding: 5%;      
 }

 #left {
    background-color: #000000;
    color: #ffffff; 
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 2;
    border-bottom: solid black;
    border-left: solid rgb(205, 35, 35);
    border-bottom-left-radius: 40px;
    padding: 10%   
 }


 #right {
    background-color: #ffffff; 
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 5;
    border-bottom: solid black;
    border-right: solid black;
    border-bottom-right-radius: 40px;
    padding: 5%;     
 }


.underligne{
text-decoration: underline;  
}

.photo{
    max-width: 200px;
    height: auto;
}

#pdf-logo{
    height: 24px;
    width: 24px;
}

.skills-logo{
    height: 48px;
    width: 48px;
}

a {
    text-decoration: none;
    font-weight: 900;
    color: rgb(0, 0, 0);

}


/* ----------------------------Media queries -----------------------*/

@media only screen and (max-width: 600px) {
    .photo{
        max-width: 100px;
        height: auto;
    }

    .grid-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #picture {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    #profil {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #left {
        grid-column-start: 1;
        grid-column-end: 1;
    }


    #right {
        grid-column-start: 2;
        grid-column-end: 3;
    }


}